html {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.custom-select-container {
    background-color: #ccc;
    min-height: 40px;
    display: inline-block;
    padding: 10px;
    position: relative;
    .SpanOption {
        display: flex;
        align-items: center;
        height: 40px;
        width: 220px;
        border: none;
    }
    .UlOptions {
        display: none;
        margin: 0;
        padding: 10px;
        list-style: none;
        background-color: #ccc;
        position: absolute;
        width: calc(100% - 20px);
        left: 0;
        top: 100%;
        .LiOption {
            height: 40px;
            border-bottom: 1px solid white;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}